/**
 * Responsive sizes
**/
@mixin resp($size) {
    @if ( $size == 's' ) {
        @media (max-width: 600px) {
            @content;
        }
    }
    @if ( $size == 'm' ) {
        @media (max-width: 900px) {
            @content;
        }
    }
    @if ( $size == 'l' ) {
        @media (max-width: 1200px) {
            @content;
        }
    }
}

html {
    width: 100%;
    overflow-x: hidden;
}

img {
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

.flexbox,
.flexbox-full {
    display: flex;
    flex-wrap: wrap;
    &.width-900 {
        margin: 0 auto;
        max-width: 900px;
    }
    &.v-c {
        align-items: center;
    }
    &.v-e {
        align-items: flex-end;
    }
    &.h-c {
        justify-content: center;
    }
    &.h-sb {
        justify-content: space-between;
    }
    &.h-e {
        justify-content: flex-end;
    }
}

.flexbox {
    margin: 0 -15px;
    .col {
        padding: 15px;
    }
}

.col {
    &.m-left {
        margin-left: auto;
    }
    &.m-right {
        margin-right: auto;
    }
    &.m-auto {
        margin: 0 auto;
    }
    &-full {
        width: 100%;
    }
    &-5 {
        width: 5%;
    }
    &-10 {
        width: 10%;
    }
    &-15 {
        width: 15%;
    }
    &-20 {
        width: 20%;
    }
    &-25 {
        width: 25%;
    }
    &-30 {
        width: 30%;
    }
    &-33 {
        width: 33.33%;
    }
    &-35 {
        width: 35%;
    }
    &-40 {
        width: 40%;
    }
    &-45 {
        width: 45%;
    }
    &-50 {
        width: 50%;
    }
    &-55 {
        width: 55%;
    }
    &-60 {
        width: 60%;
    }
    &-65 {
        width: 65%;
    }
    &-66 {
        width: 66.66%;
    }
    &-70 {
        width: 70%;
    }
    &-75 {
        width: 75%;
    }
    &-80 {
        width: 80%;
    }
    &-85 {
        width: 85%;
    }
    &-90 {
        width: 90%;
    }
    &-90 {
        width: 90%;
    }
}

@include resp('l') {
    .col-l {
        &-full {
            width: 100%;
        }
        &-5 {
            width: 5%;
        }
        &-10 {
            width: 10%;
        }
        &-15 {
            width: 15%;
        }
        &-20 {
            width: 20%;
        }
        &-25 {
            width: 25%;
        }
        &-30 {
            width: 30%;
        }
        &-33 {
            width: 33.33%;
        }
        &-35 {
            width: 35%;
        }
        &-40 {
            width: 40%;
        }
        &-45 {
            width: 45%;
        }
        &-50 {
            width: 50%;
        }
        &-55 {
            width: 55%;
        }
        &-60 {
            width: 60%;
        }
        &-65 {
            width: 65%;
        }
        &-66 {
            width: 66.66%;
        }
        &-70 {
            width: 70%;
        }
        &-75 {
            width: 75%;
        }
        &-80 {
            width: 80%;
        }
        &-85 {
            width: 85%;
        }
        &-90 {
            width: 90%;
        }
        &-90 {
            width: 90%;
        }
    }
}

@include resp('m') {
    .col-m {
        &-full {
            width: 100%;
        }
        &-5 {
            width: 5%;
        }
        &-10 {
            width: 10%;
        }
        &-15 {
            width: 15%;
        }
        &-20 {
            width: 20%;
        }
        &-25 {
            width: 25%;
        }
        &-30 {
            width: 30%;
        }
        &-33 {
            width: 33.33%;
        }
        &-35 {
            width: 35%;
        }
        &-40 {
            width: 40%;
        }
        &-45 {
            width: 45%;
        }
        &-50 {
            width: 50%;
        }
        &-55 {
            width: 55%;
        }
        &-60 {
            width: 60%;
        }
        &-65 {
            width: 65%;
        }
        &-66 {
            width: 66.66%;
        }
        &-70 {
            width: 70%;
        }
        &-75 {
            width: 75%;
        }
        &-80 {
            width: 80%;
        }
        &-85 {
            width: 85%;
        }
        &-90 {
            width: 90%;
        }
        &-90 {
            width: 90%;
        }
    }
}

@include resp('s') {
    .col-s {
        &-full {
            width: 100%;
        }
        &-5 {
            width: 5%;
        }
        &-10 {
            width: 10%;
        }
        &-15 {
            width: 15%;
        }
        &-20 {
            width: 20%;
        }
        &-25 {
            width: 25%;
        }
        &-30 {
            width: 30%;
        }
        &-33 {
            width: 33.33%;
        }
        &-35 {
            width: 35%;
        }
        &-40 {
            width: 40%;
        }
        &-45 {
            width: 45%;
        }
        &-50 {
            width: 50%;
        }
        &-55 {
            width: 55%;
        }
        &-60 {
            width: 60%;
        }
        &-65 {
            width: 65%;
        }
        &-66 {
            width: 66.66%;
        }
        &-70 {
            width: 70%;
        }
        &-75 {
            width: 75%;
        }
        &-80 {
            width: 80%;
        }
        &-85 {
            width: 85%;
        }
        &-90 {
            width: 90%;
        }
        &-90 {
            width: 90%;
        }
    }
}
