body[data-show-blocks-enabled="1"] .col-xs-1,
body[data-show-blocks-enabled="1"] .col-xs-2,
body[data-show-blocks-enabled="1"] .col-xs-3,
body[data-show-blocks-enabled="1"] .col-xs-4,
body[data-show-blocks-enabled="1"] .col-xs-5,
body[data-show-blocks-enabled="1"] .col-xs-6,
body[data-show-blocks-enabled="1"] .col-xs-7,
body[data-show-blocks-enabled="1"] .col-xs-8,
body[data-show-blocks-enabled="1"] .col-xs-9,
body[data-show-blocks-enabled="1"] .col-xs-10,
body[data-show-blocks-enabled="1"] .col-xs-11,
body[data-show-blocks-enabled="1"] .col-xs-12,
body[data-show-blocks-enabled="1"] .col-sm-1,
body[data-show-blocks-enabled="1"] .col-sm-2,
body[data-show-blocks-enabled="1"] .col-sm-3,
body[data-show-blocks-enabled="1"] .col-sm-4,
body[data-show-blocks-enabled="1"] .col-sm-5,
body[data-show-blocks-enabled="1"] .col-sm-6,
body[data-show-blocks-enabled="1"] .col-sm-7,
body[data-show-blocks-enabled="1"] .col-sm-8,
body[data-show-blocks-enabled="1"] .col-sm-9,
body[data-show-blocks-enabled="1"] .col-sm-10,
body[data-show-blocks-enabled="1"] .col-sm-11,
body[data-show-blocks-enabled="1"] .col-sm-12,
body[data-show-blocks-enabled="1"] .col-md-1,
body[data-show-blocks-enabled="1"] .col-md-2,
body[data-show-blocks-enabled="1"] .col-md-3,
body[data-show-blocks-enabled="1"] .col-md-4,
body[data-show-blocks-enabled="1"] .col-md-5,
body[data-show-blocks-enabled="1"] .col-md-6,
body[data-show-blocks-enabled="1"] .col-md-7,
body[data-show-blocks-enabled="1"] .col-md-8,
body[data-show-blocks-enabled="1"] .col-md-9,
body[data-show-blocks-enabled="1"] .col-md-10,
body[data-show-blocks-enabled="1"] .col-md-11,
body[data-show-blocks-enabled="1"] .col-md-12,
body[data-show-blocks-enabled="1"] .col-lg-1,
body[data-show-blocks-enabled="1"] .col-lg-2,
body[data-show-blocks-enabled="1"] .col-lg-3,
body[data-show-blocks-enabled="1"] .col-lg-4,
body[data-show-blocks-enabled="1"] .col-lg-5,
body[data-show-blocks-enabled="1"] .col-lg-6,
body[data-show-blocks-enabled="1"] .col-lg-7,
body[data-show-blocks-enabled="1"] .col-lg-8,
body[data-show-blocks-enabled="1"] .col-lg-9,
body[data-show-blocks-enabled="1"] .col-lg-10,
body[data-show-blocks-enabled="1"] .col-lg-11,
body[data-show-blocks-enabled="1"] .col-lg-12,
body[data-show-blocks-enabled="1"] .col-xl-1,
body[data-show-blocks-enabled="1"] .col-xl-2,
body[data-show-blocks-enabled="1"] .col-xl-3,
body[data-show-blocks-enabled="1"] .col-xl-4,
body[data-show-blocks-enabled="1"] .col-xl-5,
body[data-show-blocks-enabled="1"] .col-xl-6,
body[data-show-blocks-enabled="1"] .col-xl-7,
body[data-show-blocks-enabled="1"] .col-xl-8,
body[data-show-blocks-enabled="1"] .col-xl-9,
body[data-show-blocks-enabled="1"] .col-xl-10,
body[data-show-blocks-enabled="1"] .col-xl-11,
body[data-show-blocks-enabled="1"] .col-xl-12,
body[data-show-blocks-enabled="2"] .columns,
body[data-show-blocks-enabled="1"] .col { outline: 1px solid #4196FF; padding-top: 10px; padding-bottom: 10px; }

body[data-show-blocks-enabled="1"] .row,
body[data-show-blocks-enabled="1"] .flexbox,
body[data-show-blocks-enabled="2"] .row { outline: 1px solid #FF9595; padding-top: 2px; padding-bottom: 2px; margin-top: 8px; margin-bottom: 8px; }

body[data-show-blocks-enabled="1"] .container,
body[data-show-blocks-enabled="2"] .container,
body[data-show-blocks-enabled="1"].container,
body[data-show-blocks-enabled="2"].container,
body[data-show-blocks-enabled="2"] .scroll-container,
body[data-show-blocks-enabled="2"].scroll-container {
    border-left: 1px dashed #d2d6ff;
    border-right: 1px dashed #d2d6ff;
}
